[
    {
        "title": "Front-End System Design",
        "url": "https://frontendmasters.com/courses/frontend-system-design/"
    },
    {
        "title": "Advanced Web Development Quiz",
        "url": "https://frontendmasters.com/courses/web-dev-quiz/"
    },
    {
        "title": "Backend System Design",
        "url": "https://frontendmasters.com/courses/backend-system-design/"
    }
]